doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Tariffs
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon")

    body
        .wrap
            .tariff-list